<h1>New book</h1>
<!-- form_with部分 -->
<%= form_with model:@book, url:'/books', local:true do |f| %>

  <h2>Title</h2>
  <%= f.text_field :title %>

  <h2>Body</h2>
  <%= f.text_area :body %>

  <p><%= f.submit 'Create Book' %>
  </p>

<% end %>